<div class="container">
  <app-navbar/>
  <div class="hero-section">
    <h2>Welcome to URL Shortener!</h2>
    <p class="subtitle">Shorten and manage your links in seconds.</p>

    <!-- Get Started Button -->
    @if (!showUrlInput) {
      <button class="cta-button" (click)="onGetStarted()">Get Started</button>
    } @else {
    <div class="url-input-container">
      <input type="text" [(ngModel)]="urlToShorten" placeholder="Enter URL" class="url-input" />
      <button class="submit-button" (click)="shortenUrl()">Shorten URL</button>
    </div>
    }

    <div *ngIf="shortenedUrl" class="shortened-url-container">
      <label>Your shortened URL:</label>
      <label style="margin: 0 10px;">{{ endpointPrefix + shortenedUrl }}</label>
      <button class="submit-button" (click)="onNavigateToShortUrl()">Visit URL</button>
    </div>

  </div>
</div>
