/* Navbar styles */
.container {
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    background-color: #121212 !important; /* Dark background */
    color: #ffffff; /* Light text */
    font-family: Arial, sans-serif;
}


/* Hero Section */
.hero-section {
    text-align: center;
    margin-top: 50px;
    background-color: #000;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.hero-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

.subtitle {
    color: #bbbbbb;
    margin: 15px 0;
    font-size: 1.2rem;
}

.cta-button {
    background-color: #ff7f50;
    border: none;
    padding: 12px 25px;
    margin-top: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
    background-color: #e7693f;
    transform: scale(1.05);
}

/* Additional styles for input container */
.url-input-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.url-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.submit-button {
    background-color: #ff7f50;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
    background-color: #e7693f;
    transform: scale(1.05);
}

.shortened-url-container {
  margin: 1rem 25% 0;
  padding: 0.5rem;
  background: #f0f4f8;
  border-radius: 4px;
  color: #333;
}

.qrcode-container {
  margin-top: 1rem;
}
